@import 'fonts.scss';

$surface: #3C3C46;
$table-bg: #4E4E58;
$on-surface: #ffffff;
$on-top: #AEADB2;
$tb-border: #4E4E58;

$border-style: 1px solid rgb(156, 156, 156);

*{
    border: none;
    font-family: 'inter';
    body{
        background-color: $surface;
        .rc-content{
            #global_header{
                h2{
                    color: #ffffff;
                    font-family: 'Roboto Condensed';
                    font-size: 60px;
                    font-weight: lighter;
                }
            }
            .rc-resources_grid{
                table{
                    background-color: $table-bg;
                    width: 99%;
                    margin-left: auto;
                    margin-right: auto;
                    border: 0px;
                    border-spacing: 0;
                    thead{
                        text-align: left;
                        font-family: 'Roboto Condensed', sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        color: $on-top;
                        tr{
                            th{
                                padding: 16px;
                                border-bottom: $border-style;
                                border-right: $border-style;
                            }
                            th:last-child{
                                border-right: none;
                            }
                        }
                    }
                    tbody{
                        font-family: 'Roboto Condensed', sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        color: $on-surface;
                        tr{
                            td{
                                padding: 16px;
                                margin:0px;
                                border-bottom: $border-style;
                                border-right: $border-style;
                            }
                            td:last-child{
                                border-right: none;
                            }
                        }
                        tr:last-child{
                            td{
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
.rc-navi{
    display: none;
}
.rc-footer{
    display: none;
}
.rc-table_sleeve{
    input{
        display: none;
    }
}
.rc-event_time_name{
    display: none;
}